<!-- <h1>New Club</h1>

<% #provide(:title, 'Sign up') %>
<h1>Sign up</h1> -->
<div class="well transparent" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@club) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="field">
      <%= f.label :name, 'Club Name' %><br>
      <%= f.select :name, [['Cap and Gown','Cap'],['Cannon','Cannon'],['Charter ','Charter'],['Cloister','Cloister'],['Colonial','Colonial'],['Cottage ','Cottage'],['Ivy ','Ivy'],['Quad ','Quad'],['Terrace','Terrace'],['Tiger Inn', 'TI'],['Tower ','Tower']]%> 
      </div>
      <div class="field">
        <%= f.label :recipient_id, 'Recipient ID' %>
        <%= f.text_field :recipient_id, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
