<tr id="pledge-<%= pledge.id %>" class="<%=status?(pledge).downcase%>">
  <td class="campaign"><%= link_to pledge.campaign.name, pledge.campaign %></td>
  <td class="amount">$<%= pledge.amount %></td>
  <td class="amount">$<%= (((((pledge.amount.to_f + 0.30))/(1-0.029)) - pledge.amount)*100).round / 100.0 %></td>
  <td class="status"><%=status?(pledge)%></td>
  <td class="timestamp">Pledged <%= time_ago_in_words(pledge.created_at) %> ago.</td>
</tr>